*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #F0F0F0;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
   
}

.headingtext{
    width: 80%;
    margin: auto;
}
.headingtext_text{
    margin: 3rem 0 1rem 0;
    
}

.cont{
    height: auto;
    width: 80%;
    background-color: #FFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: auto;
    border-radius: 5px;
    
}

.cont_container{
    border: 1px solid transparent;
    width: 90%;
    margin: auto;

}
.apliicationd_etails_cont{
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
    
}

.apliicationd_etails_cont_one{
    border-bottom: 1px solid rgb(122, 119, 119);
    width: 22%;
    margin: 2rem 0 0 0;
}
.apliicationd_etails_cont_one :nth-child(1){
    font-size: 10px;
}

.apliicationd_etails_cont_one :nth-child(2){
    font-size: 18px;
    margin-top: 2px;
}

.select_project{
    margin-top: 10px !important;
    
}

.img_div_cont{
    
    width: 100%;
    margin: 5rem 0 0 0;
    height: 8rem;
    display: flex;
    justify-content: space-between;
}

.img_div_cont div{
    border: 0.01rem solid #F0F0F0;
    width: 20%;
}

.img_div img{
    width: 100%;
    height: 100%;
}

.location_container{
    width: 100%;
    border: 1px solid red;
}

.server_container{
    width: 100%;
    border: 1px solid red;
   
}