p{
    color: #143754;
}
h5{
    color: blue;
    font-size: 18px;
    margin-top: 4px;
}
.footer{
    background-color: #FFF;
    width: 100%;
    height: 7rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    margin: 10px 0 0 0;
}

.footer .footercontainer{
width: 80%;
height: 60%;
margin: auto;
background-color: #FFF;
display: flex;
flex-wrap: wrap;
padding-top: 1%;
}

.footercontainer_div_first{
    border: 1px solid transparent;
    
}

.footercontainer_div_line{
    
    margin: 2px 15px 0 15px;
    align-items: center;
    justify-content: center;
}

.footercontainer_div_Hourly{
   margin: 2px 15px 0 15px;

}

.footercontainer_div_monthly{
    margin: 2px 15px 0 15px; 
}

.footercontainer_div_text{
    width: 35%;
    margin: 2px 0 0 100px;   
}

.footercontainer_div_upgrade{
     margin: 2px 0px 0 5px; 
     width: 15%;
}

.footercontainer_div_upgrade button{
    border: none;
    background-color: rgb(184, 211, 211);
    color: #143754;
    height: 3rem;
    padding: 5%;
    width: 100%;
    border-radius: 2px
    
};

